:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color: rgb(116, 100, 233);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: inherit;
  transition: 0.2s ease-in-out;
}
a:hover {
  color: rgb(216, 216, 216);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  color: white;
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 40px;
}

svg {
  width: 2.5em;
  height: 2.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media (max-width: 1000px) {
  h1 {
    font-size: 1.6em;
  }

  img {
    width: 55px;
  }
}

@media (max-width: 768px) {
  svg {
    width: 2em;
    height: 2em;
  }
}
