.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  height: 100%;
  background-color: var(--color);
  text-align: center;
  padding-top: 0.5rem;
  gap: 30px;
  border-right: 1px solid rgb(0, 0, 0);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}

.div-media {
  margin-top: 14rem;
  width: 4.8rem;
  height: 9rem;
  border-radius: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  background-color: black;
}

.div-home {
  display: flex;
  gap: 30px;
}

img {
  width: 90px;
}

.div-name {
  position: relative;
  display: inline-block;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 4rem;
  left: 1em;
  margin: 0;
}
.vertical-text::first-letter {
  color: transparent;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
  background: black;
  border-radius: 50%;
  animation:ellipseAnimation 2s linear infinite;
  background-image: url("../assets/Logo.png");
  background-size: cover;
}

@keyframes ellipseAnimation {
  0% {
    border-radius: 50%;
  }

  12.5% {
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
  }

  25% {
    border-radius: 0 0 50% 50%;
    transform: rotate(90deg);
  }

  37.5% {
    border-radius: 0 0 0 50%;
    transform: rotate(135deg);
  }

  50% {
    border-radius: 0;
    transform: rotate(180deg);
  }

  62.5% {
    border-radius: 50% 0 0 0;
    transform: rotate(225deg);
  }

  75% {
    border-radius: 50% 50% 0 0;
    transform: rotate(270deg);
  }

  87.5% {
     border-radius: 50% 50% 50% 0;
    transform: rotate(315deg);
  }

  100% {
     border-radius: 50%;
    transform: rotate(360deg);
  }
}
    
.loading {
  width: 87.5px;
  height: 40px;
  display: block;
  margin:auto;
  background-image: radial-gradient(circle 12.5px at 12.5px 12.5px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 12.5px at 12.5px 12.5px, #FFF 100%, transparent 0), linear-gradient(#FFF 25px, transparent 0);
  background-size: 25px 25px, 50px 38px, 25px 25px, 60px 20px;
  background-position: 0px 15px, 18.5px 0px, 61px 15px, 12.5px 20px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}

.carga {
  width: 5px;
  height: 6px;
  border-radius: 50%;
  display: block;
  margin:5px auto;
  margin-top: 25px;
  position: relative;
  background: #FFF;
  box-shadow: -20px 0 #FFF, 20px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -20px 0 #FF3D00, 20px 0 #FFF;
  }
  66% {
    background: #FF3D00;
    box-shadow: -20px 0 #FFF, 20px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -20px 0 #FFF, 20px 0 #FF3D00;
  }
}

@media (max-width: 1000px) {
  .left {
    width: 15%;
  }
  .right {
    width: 85%;
  }

  .div-home {
    flex-direction: column;
    gap: 2px;
  }

  .vertical-text {
    text-align: start;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: 1.5rem;
    left: 0.45em;
  }

  .div-media {
    width: 3.3rem;
    height: 8rem;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .left {
    width: 18%;
  }
  .right {
    width: 82%;
  }

  .div-media {
    width: 3rem;
    height: 7rem;
    flex-direction: column;
  }
}